<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormLibrary.Properties.Settings.SchoolLibraryConnectionString"
            connectionString="Data Source=DESKTOP-F8JEVTP\SQLDEVELOPPER;Initial Catalog=SchoolLibrary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>